on fs && property:sys.usb.configfs=1
    mount configfs none /sys/kernel/config
    mkdir /sys/kernel/config/usb_gadget/g1
    mkdir /sys/kernel/config/usb_gadget/g1/strings/0x409
    mkdir /sys/kernel/config/usb_gadget/g1/configs/c.1
    mkdir /sys/kernel/config/usb_gadget/g1/configs/c.1/strings/0x409
    mkdir /sys/kernel/config/usb_gadget/g1/functions/ffs.adb 0770 shell shell
    mkdir /sys/kernel/config/usb_gadget/g1/functions/ffs.fastboot 0770 shell shell
    write /sys/kernel/config/usb_gadget/g1/strings/0x409/serialnumber ${ro.serialno}
    write /sys/kernel/config/usb_gadget/g1/strings/0x409/manufacturer "SAMSUNG"
    write /sys/kernel/config/usb_gadget/g1/strings/0x409/product "SAMSUNG_Android"
    write /sys/kernel/config/usb_gadget/g1/configs/c.1/strings/0x409/configuration "Conf 1"
    write /sys/kernel/config/usb_gadget/g1/configs/c.1/MaxPower 0x3f

on fs
    mkdir /dev/usb-ffs 0775 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
    mkdir /dev/usb-ffs/fastboot 0770 system system
    mount functionfs fastboot /dev/usb-ffs/fastboot rmode=0770,fmode=0660,uid=1000,gid=1000

on property:sys.usb.config=adb
    start adbd

on property:sys.usb.config=fastboot
    start fastbootd

# Configfs triggers
on property:sys.usb.config=none && property:sys.usb.configfs=1
    stop adbd
    stop fastbootd
    rm /sys/kernel/config/usb_gadget/g1/configs/c.1/ffs.adb
    rm /sys/kernel/config/usb_gadget/g1/configs/c.1/ffs.fastboot
    setprop sys.usb.ffs.ready 0
    write /sys/class/android_usb/android0/enable 0
    write /sys/kernel/config/usb_gadget/g1/bDeviceClass 0
    write /sys/kernel/config/usb_gadget/g1/bDeviceSubClass 0
    write /sys/kernel/config/usb_gadget/g1/bDeviceProtocol 0
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=sideload && property:sys.usb.ffs.ready=1 && property:sys.usb.configfs=1
    symlink /sys/kernel/config/usb_gadget/g1/functions/ffs.adb /sys/kernel/config/usb_gadget/g1/configs/c.1/ffs.adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/kernel/config/usb_gadget/g1/idVendor 0x04E8
    write /sys/kernel/config/usb_gadget/g1/idProduct 0x6860
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    write /sys/class/android_usb/android0/functions adb
    write /sys/kernel/config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=adb && property:sys.usb.ffs.ready=1 && property:sys.usb.configfs=1
    symlink /sys/kernel/config/usb_gadget/g1/functions/ffs.adb /sys/kernel/config/usb_gadget/g1/configs/c.1/ffs.adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/kernel/config/usb_gadget/g1/idVendor 0x04E8
    write /sys/kernel/config/usb_gadget/g1/idProduct 0x6860
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    write /sys/class/android_usb/android0/functions adb
    write /sys/kernel/config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=fastboot && property:sys.usb.ffs.ready=1 && property:sys.usb.configfs=1
    symlink /sys/kernel/config/usb_gadget/g1/functions/ffs.fastboot /sys/kernel/config/usb_gadget/g1/configs/c.1/ffs.fastboot
    write /sys/class/android_usb/android0/enable 0
    write /sys/kernel/config/usb_gadget/g1/idVendor 0x18D1
    write /sys/kernel/config/usb_gadget/g1/idProduct 0x4EE0
    write /sys/class/android_usb/android0/f_ffs/aliases fastboot
    write /sys/class/android_usb/android0/functions adb
    write /sys/kernel/config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}